<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>BattleShip Game</title>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link rel="stylesheet" 
		href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<style>
			
			html{
			/* Custom khung */
			text-align: center;
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 100px;
			}
		
			.button {
			/* Custom button */
            width: 110px;
			padding: 11px 20px;
			font-size: 20px;
			text-align: center;
			cursor: pointer;
			outline: none;
			color: #fff;
			background-color: #3f8d41;
			border: none;
			border-radius: 15px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1>Welcome BattleShip Game</h1>
				
				<!-- để chuyển tới khi nhấn -->
				<a href="/signin" class="button btn btn-lg btn-success">Login</a>
				<a href="/signup" class="button btn btn-lg btn-info">Register</a>
				
				
			</div>
		</div>
	</body>
</html>